<!doctype html>
<html>
<head>
   <title>Truckstop: Nothing's finer than eating at your mobile establishment</title>
   <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
   <link rel="stylesheet" type="text/css" href="/static/css/leaflet.css" />
   <script type="text/javascript" src="/static/js/jquery.min.js"></script>
   <script type="text/javascript" src="/static/js/leaflet.js"></script>
   <script type="text/javascript" src="/static/js/mustache.js"></script>
</head>
<body>
   <div class="wrapper">
      <div class="header clearfix">
         <span class="search">
            <input type="search" placeholder="Try: cupcakes" name="query" />
         </span>
         <span class="about">
            <a href="/about.html">About</a>
         </span>
         <h1 class="logo"><a href="/">Truckstop</a></h1>
      </div>

      <div class="content">
         <div id="map"></div>

         <div class="result-list"></div>
      </div>

      <div class="footer">
         Made for <a href="https://github.com/uber/coding-challenge-tools">Uber</a>, &copy; 2013 <a href="http://apgwoz.com">Andrew Gwozdziewycz</a>
      </div>
   </div>
   <script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>
