body {
 font-size: 62.5%;
 font-family: "Helvetica", "Arial", sans-serif;
 color: #333333;
 padding: 0; margin: 0;
}

.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}
.clearfix { display: inline-block; }
/* \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* */


.wrapper {
 text-align: center;
}

.header {
 padding-top: 10px;
 text-align: left;
 margin: 0 auto; 
 width: 790px;
}

.logo {
 margin: 0;
 padding: 0;
 height: 48px;
 width: 170px;
 text-indent: -9999em;
 background: url(/static/img/sprites.png) no-repeat;
 float: left;
}

.search {
 display: block;
 float: right;
 width: 500px;
 text-align: right;
}
.search input {
 padding: 0; margin: 0;
 font-size: 2.4em;
 color: #333340;
 border: 1px solid #888; 
 -moz-box-shadow: 0 0 2px #888;
 -webkit-box-shadow: 0 0 2px #888;
 box-shadow: 0 0 2px #888;
 vertical-align: baseline;
}
.search button {
 padding: 0; margin: 0;
 vertical-align: baseline;
 border: 1px solid #888;
}
.go {
 width: 28px;
 height: 28px;
 background: url(/static/img/sprites.png) -170px -0px no-repeat;
 background-position: -171px -0px;
}

#map {
 position: static;
 width: 100%;
 height: 500px;
}

.map-scrolling {
 margin: 0; padding: 0;
 position: absolute;
 -moz-box-shadow: 2px 0 8px 3px #888;
 -webkit-box-shadow: 2px 0 8px 3px #888;
 box-shadow: 2px 0 8px 3px  #888;
 z-index: 10000;
}

.result-list {
 text-align: left;
 margin: 0 auto; 
 padding-top: 30px;
 position: relative;
 top: -40px;
 width: 790px;
 height: 400px;
 z-index: 1000;
 background: #fff;
 display: none;
 -moz-box-shadow: 0 -2px 2px #888;
 -webkit-box-shadow: 0 -2px 2px #888;
 box-shadow: 0 -2px 2px #888;
}
.result-list h2 {
 margin: 20px 30px 10px 30px;
}
.result-list dl {
 display: block;
 margin: 5px 25px 5px 25px;
 padding: 5px;
}

.clear-button {
 position: relative;
 left: 760px;
 top: -40px;
 font-size: 2.4em;
 line-height: 2.6em;
 text-align: center;
 display: block;
 width: 26px;
 height: 26px;
}

.hover-state {
 background-color: #ffc;
}

.result-list dt {
 line-height: 2.4em;
}
.result-list dd {
 margin-top: 6px;
 margin-left: 68px;
}
.result-list dd p {
 margin: 3px 0 0 0;
}

.result-list .distance {
 display: block;
 width: 60px;
 font-size: 1.6em;
 vertical-align: baseline;
 text-align: right;
 float: left;
}

.result-list .name {
 font-size: 2.4em;
 display: block;
 margin-left: 68px;
}
.result-list .address {
 font-size: 1.2em;
 text-transform: capitalize;
}
.result-list p {
 font-size: 1.6em;
}